*{
    font-family: 'GenshinFont';
}

@font-face {
    font-family: 'GenshinFont';
    src: url('/fonts/zh-cn.ttf') format('truetype');
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: #DEB76C;
    color: #1B1D24;
    font-size: x-large;
}

body{
    background-color: #1B1D24;
}

.talent-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.25rem;
}

.talent{
    color: white;
    background-color:#2F383B;
    height: 15.625rem;
    width: 18.75rem;
    text-align: center;
    padding: 2rem;
    margin: auto;
    border-radius: 10px;
}

button{
    font-size: x-large;
    padding: 0.625rem;
    margin: 0.625rem;
}

.calc-button{
    margin-left: 45%;
    margin-right: 40%;
    margin-top: 3%;
}

.result-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 1.25rem;
    color: white;
}

.talent-img{
    height: 8.75rem;
    width: 8.75rem;
}

.green, .blue, .purple{
    padding: 0.125rem;
    background-color: #2F383B;
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .navbar-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .talent-container{
        flex-direction: column;
        align-items: center;
    }
    .talent{
        width: 100%;
        margin: 0.625rem 0;
    }
    .calc-button{
        margin-left: 30%;
        margin-right: 20%;
        margin-top: 1.25rem;
    }
    .result-container{
        flex-direction: row;
        align-items: center;
    }
    .talent-img{
        height: 5rem;
        width: 5rem;
    }
    .author{
        margin-top: 1.563rem;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .navbar-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .talent-container{
        flex-direction: column;
        align-items: center;
    }
    .talent{
        width: 100%;
        margin: 0.625rem 0;
    }
    .calc-button{
        margin-left: 30%;
        margin-right: 20%;
        margin-top: 1.25rem;
    }
    .result-container{
        flex-direction: row;
        align-items: center;
    }
    .talent-img{
        height: 6.25rem;
        width: 6.25rem;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .navbar-container{
        flex-direction: row;
        align-items: center;
    }
    .talent-container{
        flex-direction: row;
        align-items: center;
    }
    .talent{
        width: 18.75rem;
        margin: 0.625rem 0.625rem;
    }
    .calc-button{
        margin-left: 45%;
        margin-right: 40%;
        margin-top: 3%;
    }
    .result-container{
        flex-direction: row;
        align-items: center;
    }
    .talent-img{
        height: 8.75rem;
        width: 8.75rem;
    }
}